@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1>Michael Christy</h1>
        <p class="lead">Developer / Eternal Student / Pretty cool guy</p>
    </div>
</div>

<div class="container body-content">
    
    <div class="about">
        <div>
            <h3>"After 14 years of jumping out of planes and running around the desert with the Army I decided to grow up. I went to school for various Geoscience but my true love in college was coding. It started with Visual Basic but grew as I dabbled in Python. I never changed majors though, and it is one of my biggest regrets.<br /><br />Two years later I saw an opportunity to get back into coding and I jumped into the deep end of the pool with Code Louisville. I've now learned Full Stack using MEAN (that's Mongo, Express, Angular, and Node.js) and want to find a family for this junior developer to grow up in."</h3>
        </div>
    </div> 
      
    <div>
            <h1>Skills<small> See what I can do</small></h1>
            <div class="panel panel-info">
                <div class="panel-body">
                    <ul>
                        <li>ArcGIS: v9.3+, Geodatabase maintenance, scripting, model building, geocoding</li>
                        <li>Languages: Visual Basic, SQL(SSMS) and NOSQL (Mongo), JavaScript, Angular, Express, C#, ASP.net</li>
                        <li>Remote Sensing and interpretation: ERDAS, SOCET GXP, RemoteView</li>
                        <li>Microsoft: PowerPoint, Word, Excel, Access, InfoPath, SharePoint</li>
                    </ul>
                </div>
            </div>
        </div>
    
    <div>
            <h1>Experience<small> I've done some stuff</small></h1>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Fire Systems Analyst<small>  Louisville Fire & Rescue</small></h3>
                </div>
                    <ul class="panel-body">
                        <li>Maintain various Louisville Fire Dept SQL databases for incidents, staff , inspections, and fuel management</li>
                        <li>Manage mobile device platforms; plan/implement large deployment projects through mobile first philosophy</li>
                        <li>Purchasing/negotiation for equipment and software licensing and contracts</li>
                        <li>Developed small scale user apps to augment yearly projects</li>
                        <li>Coordinate with Metro Technology Services for Windows 10 mass deployment to for over 400 remote users</li>
                        <li>Develop new Standard Operating Procedures (policy document) for Louisville Fire computer services</li>
                        <li>Monthly FEMA incident reporting for state and federal regulatory requirements</li>
                        <li>Create 'Hotspot' maps in ARCGIS for Fire Marshall to direct prevention efforts/education</li>
                        <li>Ad-hoc thematic maps for multiple Fire bureaus</li>
                        <li>Integrated GIS Online for Open Data Initiative</li>
                    </ul>

                    <div class="panel-heading">
                        <h3 class="panel-title">Senior Geospatial Analyst<small>  US Army National Guard</small></h3>
                    </div>
                    <ul class="panel-body">
                        <li>Overseas deployments to Afghanistan  in 2003, 2006 and 2009</li>
                        <li>Accountable for assets costing estimated $500,000 USD</li>
                        <li>Two time Bronze Star recipient for dedication to work and excellence in production</li>
                        <li>Produced over 2,000  products over the last decade to include technical reports, customized maps, and other highly specialized products for customers</li>
                        <li>Trained, mentored, and evaluated a team of subordinates since 2005</li>
                        <li>Briefed senior executive officers and officials on a regular basis</li>
                        <li>Cooperative work with NSA for from 2010 – 2012</li>
                        <li>Advise chief staff on use of new, or updated, GIS technologies</li>
                    </ul>
                </div>
    </div>

    <div>
        <h1>Education<small> I got learned</small></h1>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Code Louisville</h3>
            </div>
            <ul class="panel-body">
                <li>MEAN Full Stack</li>
                <li>C# ASP.net</li>
            </ul>

            <div class="panel-heading">
                <h3 class="panel-title">Indiana University Southeast</h3>
             </div>
                <ul class="panel-body">
                    <li>Concentrations in GIS, Physical Systems (Environment), Environmental Geosciences</li>
                    <li>Supplemental instructor for introductory and advanced GIS</li>
                    <li>Supplemental instructor for Physical Systems (Environment)</li>
                    <li>Biology lab assistant</li>
                    <li>Cumulative GPA of 3.74</li>
                    <li>Graduating Geosciences “Outstanding Graduate of the Year”</li>
                </ul>
            </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <p>If you want to reach out to me for anything from carreer oportunities to just small chit chat feel free to contact me.</p>
            <p>Email will the best way to get ahold of me.</p>
        </div>
        <div class="col-md-6 col-xs-6">
            <ul>
                <li><a href="mailto:me@gmail.com">me@gmail.com</a></li>
                <li><a href="Http://twitter.com/intent/tweet?screen_name=mchristy83">mchristy83</a></li>
            </ul>
        </div>

    </div>
</div>