@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1>Michael Christy</h1>
        <p class="lead">Developer / Eternal Student / Cool guy</p>
    </div>
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-md-4 ">
            <p>A little thing about me</p>

        </div>
    </div>

    <div>
        <div>
            <h1>github stuff</h1>
        </div>

    </div>

    <div>
        <div>
            <h1>treehouse stuff</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-6 col-xs-6 contact">
            <p>If you want to reach out to me for anything from carreer oportunities to just small chit chat feel free to contact me.</p>
            <p>Email will the best way to get ahold of me.</p>
        </div>
        <div class="col-md-6 col-xs-6">
            <ul>
                <li><a href="mailto:me@gmail.com">me@gmail.com</a></li>
                <li><a href="Http://twitter.com/intent/tweet?screen_name=mchristy83">mchristy83</a></li>
            </ul>
        </div>

    </div>
</div>