@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1>Michael Christy</h1>
        <p class="lead">Developer / Eternal Student / Pretty cool guy</p>
    </div>
</div>

<div class="container body-content">
    
    <div id="about">
        <div>
            <h3>"After 14 years of jumping out of planes and running around the desert with the Army I decided to grow up. I went to school for various Geoscience but my true love in college was coding. It started with Visual Basic but grew as I dabbled in Python. I never changed majors though, and it is one of my biggest regrets.<br /><br />Two years later I saw an opportunity to get back into coding and I jumped into the deep end of the pool with Code Louisville. I've now learned Full Stack using MEAN (that's Mongo, Express, Angular, and Node.js) and want to find a family for this junior developer to grow up in."</h3>
        </div>
    </div> 
      
    <div>
            <h1>Skills<small> See what I can do</small></h1>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                
                    <ul class="panel-body"> 
                        <li>ArcGIS: v9.3+, Geodatabase maintenance, scripting, model building, geocoding</li>
                        <li>Languages: Visual Basic, SQL(SSMS) and NOSQL (Mongo), JavaScript, Angular, Express, C#, ASP.net</li>
                        <li>Remote Sensing and interpretation: ERDAS, SOCET GXP, RemoteView</li>
                        <li>Microsoft: PowerPoint, Word, Excel, Access, InfoPath, SharePoint</li>
                    </ul>
                
            </div>
        </div>
    
    <div>
            <h1>Experience<small> I've done some stuff</small></h1>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Fire Systems Analyst<small>  Louisville Fire & Rescue</small></h3>
                </div>
                    <ul class="panel-body">
                        <li>Maintain three Louisville Fire Dept SQL databases with approximately 100 related tables</li>
                        <li>Migrated approximately 12 virtual systems to an updated x64 environment</li>
                        <li>Orchestrated the transition from standard PCs to tablets and smart phones for a responsive mobile environment for all emergency responders, saving approximately $500,000USD over a ten year span with other agencies following</li>
                        <li>Purchasing/negotiation for equipment, software, and contracts worth approximately $200,000 over two years</li>
                        <li>Developed small scale user apps to fill a gap in user needs that allowed for more streamlined workflow</li>
                        <li>Coordinated with Metro Technology Services for Windows 10 deployment to for over 400 remote users</li>
                        <li>Wrote new Standard Operating Procedures (policy document) for Louisville Fire computer services that replaced a referenced document published in the early 90s</li>
                        <li>Project Co-Lead for replacing decade old records management system and associated training for over 400 users that uses web based responsive software as a service</li>
                        <li>Produced analytical maps for Fire Marshal to direct prevention efforts that gained recognition from the Mayor and media</li>
                        <li>Integrated GIS Online for Open Data Initiative to enhance mobile user experience and pubic usage</li>
                    </ul>

                    <div class="panel-heading">
                        <h3 class="panel-title">Senior Geospatial Analyst<small>  US Army National Guard</small></h3>
                    </div>
                    <ul class="panel-body">
                        <li>Overseas deployments to Afghanistan  in 2003, 2006 and 2009</li>
                        <li>Accountable for assets costing estimated $500,000 USD</li>
                        <li>Two time Bronze Star recipient for dedication to work and excellence in production</li>
                        <li>Produced over 2,000  products over the last decade to include technical reports, customized maps, and other highly specialized products for customers</li>
                        <li>Trained, mentored, and evaluated a team of subordinates since 2005</li>
                        <li>Briefed senior executive officers and officials on a regular basis</li>
                        <li>Cooperative work with NSA for from 2010 – 2012</li>
                        <li>Advise chief staff on use of new, or updated, GIS technologies</li>
                    </ul>
                </div>
    </div>

    <div>
        <h1>Education<small> I got learned</small></h1>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Code Louisville</h3>
            </div>
            <ul class="panel-body">
                <li>MEAN Full Stack</li>
                <li>C# ASP.net</li>
            </ul>

            <div class="panel-heading">
                <h3 class="panel-title">Indiana University Southeast</h3>
             </div>
                <ul class="panel-body">
                    <li>Concentrations in GIS, Physical Systems (Environment), Environmental Geosciences</li>
                    <li>Supplemental instructor for introductory and advanced GIS and Physical Systems (Environment)</li>
                    <li>Cumulative GPA of 3.74</li>
                    <li>Graduating Geosciences “Outstanding Graduate of the Year”</li>
                    <li>Course work in Geomorphology, Visual Basic, GIS & Cartography, Environmental Conservation, Python</li>
                </ul>
            </div>
    </div>

    <div id="contact" class="container-fluid">
        
            <h3>If you want to reach out to me for anything from carreer oportunities to just small chit chat feel free to contact me.</h3>
            <h3>Email will the best way to get ahold of me.</h3>
            <ul>
                <li><a href="mailto:michael.christy83@gmail.com">My Email</a></li>
                <li><a href="Http://www.linkedin.com/in/MichaelChristy83">My LinkedIn</a></li>
                <li><a href="https://github.com/Emojones">My Github</a></li>
                <li><a href="Http://twitter.com/intent/tweet?screen_name=mchristy83">My Twitter</a></li>
            </ul>
    </div>
</div>